extends layout

block content
  h1 Results

  h2 Package name:
    span!= json.name

  h2 Platform:
    span!= json.platform

  h2 License(s)
  ul
    each license in json.normalized_licenses
      li!= license

  h2 Dependencies (click to toggle)

  - var licenses = []

  each dep in dependencies
    - licenses.push(dep.license)

    ul.dependencies
      li.title-bar
        button!= dep.full_name
        div.contents
          ul
            li
              a(target="_blank", href=`${dep.homepage}`)!= dep.full_name
            li Last updated: #{dep.updated_at}
            li License type: #{dep.license}


  - licenses.sort()
  - licenses_length = licenses.length
  - var results = {}
  - for(var i = 0; i < licenses_length; i++) {
  -   if(!results[licenses[i]]) {
  -     results[licenses[i]] = 0
  -   }
  -   results[licenses[i]]++
  - }

  h2 Licenses breakdown

  ul
    each val, key in results
      - var percent = (val / licenses.length * 100).toFixed(2)
      li #{key} accounts for <strong>#{percent}%</strong> of dependency licenses


  h2 Versions
  ul.versions
    each version in json.versions
      li
        span.version_number!= version.number
        span.version.published_date!= version.published_at

  script.
    (function() {
      var btns = document.querySelectorAll('.dependencies button');
      Array.prototype.forEach.call(btns, function(btn) {
        btn.addEventListener('click', function(e) {
          e.preventDefault();
          this.classList.toggle('active');
        });
      });
    }())